spring:
  application:
    name: smart-news-tracker
#  profiles:
#    active: prod
  config:
    import: optional:file:.env[.properties]
#    import: optional:file:.env[.properties], application-prod.yaml
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
  output:
    ansi:
      enabled: always
  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
server:
  port: ${SERVER_PORT}
  error:
    include-message: always
    include-binding-errors: always
application:
  security:
    jwt:
      secret-key: ${JWT_SECRET_KEY}
      expiration: 3600000 # 1 hour
      refresh-token:
        expiration: 604800000 #7 days
  base-url: ${SERVER_BASE_URL}:${server.port}
news:
  api:
    url: "https://newsapi.org/v2"
    api-key: ${NEWS_API_KEY}
springdoc:
  swagger-ui:
    tagsSorter: alpha
logging:
  file:
    name: "${LOG_DIR:/tmp}/spring-boot-application.log"
  level:
    root: INFO
    dev.kauanmocelin.springbootrestapi.*: INFO
#    org.hibernate.orm.jdbc.bind: TRACE
  logback:
    rollingpolicy:
      file-name-pattern: ${logging.file.name}.%d{yyyy-MM-dd}.%i.gz
      max-file-size: 2MB
      total-size-cap: 50MB
      clean-history-on-start: true
      max-history: 7