<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Confirm Your Email</title>
</head>
<body style="font-family:Helvetica,Arial,sans-serif;font-size:16px;margin:0;color:#0b0c0c;">

<table role="presentation" width="100%" style="border-collapse:collapse;min-width:100%;width:100%!important" cellpadding="0" cellspacing="0" border="0">
  <tbody>
  <tr>
    <td width="100%" height="53" bgcolor="#0b0c0c">
      <table role="presentation" width="100%" style="border-collapse:collapse;max-width:580px" cellpadding="0" cellspacing="0" border="0" align="center">
        <tbody>
        <tr>
          <td width="70" bgcolor="#0b0c0c" valign="middle"></td>
          <td style="font-size:28px;line-height:1.315789474;padding-left:10px">
            <span style="font-weight:700;color:#ffffff;text-decoration:none;">Confirm your email</span>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>

<table role="presentation" align="center" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;max-width:580px;width:100%!important">
  <tbody>
  <tr>
    <td height="30"><br></td>
  </tr>
  <tr>
    <td width="10" valign="middle"><br></td>
    <td style="font-size:19px;line-height:1.315789474;max-width:560px">
      <p>Hi <span th:text="${name}"></span>,</p>
      <p>Thank you for registering. Please click on the below link to activate your account:</p>

      <blockquote style="border-left:10px solid #b1b4b6;padding:15px 0 0.1px 15px;">
        <p><a th:href="${link}" style="font-size:19px;line-height:25px;color:#1D70B8;text-decoration:none;">Activate Now</a></p>
      </blockquote>

      <p>Link will expire in 15 minutes.</p>
      <p>See you soon!</p>
    </td>
    <td width="10" valign="middle"><br></td>
  </tr>
  <tr>
    <td height="30"><br></td>
  </tr>
  </tbody>
</table>

</body>
</html>